@media screen and (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
}

* {
    margin: 0.1em;
}

.container {
    margin: 4em;
}

body {
    background-color: rgb(130, 130, 60);
    color: wheat;
    font-family: 'Cormorant Garamond', serif;
}

#nav {
    list-style-type: none;
    position: fixed;
    right: 5px;
    display: flex;
    justify-content: right;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background: wheat;
    top: 0px;
    right: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

section {
    margin-left: 0.5em;
    padding: 10px;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    color:darkslategray;
    padding-top: 80px;
    margin-bottom: 80px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    color: rgb(162, 57, 19);
    text-align: left;
}

#bio {
    font-size: 32px;
    font-weight: 800;
    color: black;
    padding-top: 20px;
    padding-bottom: 80px;
}

.experience {
    display: flex;
    flex-direction: column;
    background: rgb(181, 117, 22);
    max-width: 30%;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
    text-align: left;
    list-style-type: none;
}

.experience:hover {
    color: white;
}

#skills {
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 54, 54);
    max-width: 60%;
    padding: 20px;
    padding-top: 40px;
    font-size: 28;
    border-radius: 10px;
    list-style-type: none;
    text-align: right;
}

.skills {
    max-width: 30%;
    padding: 10px;
    font-size: 24px;
    border-radius: 30px;
    text-align: left;
}

#skills:hover {
    color: white;
}

li:hover {
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border-style: groove;
    border-radius: 10px;
    background: rgb(68, 102, 55);
    padding: 20px;
}

label {
    font-size: 18px;
    color: white;
}

input {
    padding-top: 10px;
}

#message {
    padding-top: 30px;
}

button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    color: white;
    background-color: rgb(187, 88, 21);
    text-align: center;
    max-width: 5em;
    margin-top: 20px;;
}

.messages {
    border-radius: 0%;
    font-size: 24px;
    color: gainsboro;
    background: gray;
}

footer {
    background-color: rgb(58, 54, 54);
    padding-top: 80px;
    color: white;
    margin: 0em;
    padding-left: 10px;
    text-align: center;
    width: 100%;
}