@media screen and (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
}

* {
    margin: 0em;
}

.container {
    margin: 15%;
}

body {
    background-color: #937DC2;
    /*background-color: #3F3B6C;*/
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

#nav {
    display: flex;
    list-style-type: none;
    position: fixed;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    background: #232946;
    margin: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0.3em;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 80px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}

#bio {
    font-size: 32px;
    font-weight: 800;
    color: whitesmoke;
    padding-top: 80px;
    padding-bottom: 80px;
}

#experience {
    display: block;
    padding-top: 80px;   
}

.experience {
    display: flex;
    flex-direction: column;
    max-width: auto;
    padding: 40px;
    font-size: 24px;
    border-radius: 30px;
    text-align: left;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 3em;
    background-color: #232946;
}

.experience:hover {
    color: white;
}

#skills {
    background-color: #3f3b6cc9;
    max-width: 20%;
    height: auto;
    margin-left: auto;
    padding: 40px 80px 80px;
    font-size: 28;
    border-radius: 10px;
    list-style-type: none;
    color: whitesmoke;
    text-align: center;
}

@media screen and (max-width: 800px) {
    #skills {
        display: flex;
        flex-flow: row wrap;
        margin: 40px 5px;
        max-width:unset;
        justify-content: space-around;
        align-items: center;
    }
}

.skills {
    max-width: 30%;
    padding: 10px;
    font-size: 24px;
    border-radius: 30px;
}

#skills > li {
    margin-top: 2em;
    margin-bottom: 2em;
}

#skills:hover {
    color: white;
}

li:hover {
    background-color: #164d72;
    width:fit-content;
}

.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .facts {
        display: flex;
        flex-flow: column wrap;
    }
}

#projects {
    font-size: 1.3em;
    padding: 40px 20px 80px;
    background-color: #164d72;
    border-radius: 10px;
    width: fit-content;
    margin-right: auto;
    
}

#projects > h2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#projects > ul > li {
    padding: 20px;
}

#writing {
    display: flex;
    flex-direction: column;
    background-color: #164d72;
    padding: 40px 20px 80px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 5em;
}

#form {
    padding-top: 80px;
    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    border-style: groove;
    border-radius: 10px;
    background: linear-gradient(to right, #5e549b 0,#164d72 100%);
    padding: 20px;
}

label {
    font-size: 18px;
    color: white;
}

input {
    padding-top: 10px;
}

#message {
    padding-top: 30px;
}

button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    color: #000000;
    background-color: #e45858;
    text-align: center;
    max-width: 5em;
    margin-top: 20px;;
}

.messages {
    border-radius: 10%;
    font-size: 24px;
    color: gainsboro;
    background: linear-gradient(to right, #5e549b 0,#164d72 100%);
    width:fit-content;
    padding: 1em;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #232946;
    /*background-color: #3F3B6C;*/
    padding-top: 80px;
    color: white;
    margin: 0em;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}